.wrap {
    position: center;
    border-style: double;
    border-color: cornsilk;
    border-width: 200;
    padding-top: 1600px;
    margin-top: 60px;
    margin-left: 220px;
    margin-right: 220px;
    color:chartreuse;
    text-align: start;
    }