.App {
  text-align: center;
}

body {
  background-size:cover;
  background-repeat:no-repeat;
  background-image: url("./gfx/architecture1920.jpg");
  background-attachment: scroll;
  background-position: top;
  background-origin: border-box;background-blend-mode: lighten;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
